/* --------------- */
/* Import fonts */
/* --------------- */
@import 'fonts.css';


/* --------------- */
/* Main Sets */
/* --------------- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  
}

html {
    text-rendering: optimizeLegibility;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h3{
    text-align: center;
    width: 100%;
    font-size: 41px;
    margin-bottom: 60px;
}

h3::first-letter{
    color: #702a9b;
}

/* --------------- */
/*End: Main Sets */
/* --------------- */




/* --------------- */
/* class for js */
/* --------------- */
nav.header-fix{
    padding:4px 0;
    background: rgba(0, 0, 0, .9);
}

.lightBoxModal {
    background-color: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

 
.lightBoxContainer{
    position: relative;
    max-width: 90%;
}

.lightBoxModal img{
    width: 100%;
 }

.lightBoxModal .lightBox-close{
    color: #ccc;
    background-color: #000;
    position: absolute;
    top: -2%;
    right: -1%;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #ccc;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}



/* --------------- */
/* End: class for js */
/* --------------- */



/* --------------- */
/* Classes */
/* --------------- */
.mobile-nav-lightbox{
    display: none;
}

 

.force-display{
    display: block !important;
}

.force-hide{
    display: none !important;
}

.aw-container {
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
}

.aw-justify-space-between{
    justify-content: space-between;
}

.aw-align-center{
    align-items: center;
}

.aw-justify-center{
    justify-content: center;
}

.aw-section{
    padding: 71px 0;
}

.aw-column-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 45%;
}

.add-margin-bottom{
    margin-bottom: 45px;
}

.aw-arrow {
    display: block;
    border-style: solid;
    border-color: #fff;
    border-width: 0 3px 3px 0;
    padding: 25px;
    cursor: pointer;
}

.icon{
    color: #702a9b;
}

.aw-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 26px;
    border: 2px solid #fff;
    border-radius: 100%;  
}

/* --------------- */
/* End: Classes */
/* --------------- */

/* --------------- */
/* Header */
/* --------------- */
header {
    position: relative;
}

header nav {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    padding: 13px 0;  
    transition: all .3s ease;   
    background: rgba(0, 0, 0, .3);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
}

header nav .icon-menu{
    display: none;
}

header ul.aw-main-nav {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

header ul.aw-main-nav li{
    margin: 0 16px;
}

header ul.aw-main-nav a {
    display: block;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    word-spacing: 3px;
    height: 30px;
    line-height: 30px;
}

header ul.aw-main-nav li:last-child {
    margin-right: 0;
    
}

header ul.aw-main-nav a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    opacity: 0;
    background-color: #fff;
    margin-top: 5px;
    transition: all .3s ease;
    margin: 0 auto;
}

header ul.aw-main-nav a:hover::after {
    width: 100%;
    opacity: 1;
}


header .aw-header-banner {
    display: block;
    width: 100%;
}


header .aw-header-text {
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 30%, rgba(0, 0, 0, .3) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

header .aw-header-text h1 {
    font-size: 80px;
    font-weight: 300;
    color: #fff;
}


header .aw-arrow {
    transform: rotate(45deg);
    transition: opacity .3s ease;
}

header .aw-arrow:hover{
    opacity: .5;
}

/* --------------- */
/* End Header */
/* --------------- */


/* --------------- */
/* About us section */
/* --------------- */



#aw-about .icon{
    font-size: 45px;
    display: block;
    margin-bottom: 20px;
}

#aw-about p{
    font-size: 17px;
    width: 100%;
    text-align: center;
}

/* --------------- */
/*End: About us section */
/* --------------- */


/* --------------- */
/*End: gallery section */
/* --------------- */
#aw-gallery ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#aw-gallery ul li{
    flex: 0 0 20%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#aw-gallery ul li img{
    display: block;
    width: 100%;
    transform: scale(1.1);
    transition: all .3s ease;
    
}

#aw-gallery ul li img:hover{
    transform: scale(1.2);
}

#aw-gallery ul li::after{
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .3s ease;
}


#aw-gallery ul li:hover::after{
    width: 0;
    
}

/* --------------- */
/*End: gallery section */
/* --------------- */


/* --------------- */
/*End: testimonial section */
/* --------------- */
#aw-testimonial{
    position: relative;
}

#aw-testimonial .aw-testimonials{
    width: 600px;  
}

#aw-testimonial .aw-testimonials ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
}

#aw-testimonial .aw-testimonials ul li{
   min-width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#aw-testimonial .aw-testimonials .aw-user-img{
    border-radius: 100%;
}
 
#aw-testimonial .aw-testimonials .aw-user-name{
    display: block;
    text-transform: capitalize;
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
} 

#aw-testimonial .aw-testimonials ul li > p {
    color:  #ccc;
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-style:italic; 
}

#aw-testimonial .aw-testimonials ul li > p::before{
    content: "\201C";
    font-size: 28px;
}


#aw-testimonial .aw-testimonials  .aw-arrow {
    border-color:#ccc; 
    padding: 17px;
    position: absolute;
    top: 55%;
    transition: border-color .3s ease;
}

#aw-testimonial .aw-testimonials .aw-arrow-right {
    right: 15%;
    transform: rotate(-45deg)
}

#aw-testimonial .aw-testimonials .aw-arrow-left {
    left: 15%;
    transform: rotate(135deg)
}
 
#aw-testimonial .aw-testimonials  .aw-arrow:hover{
    border-color: #702a9b;
}

/* --------------- */
/*End: testimonial section */
/* --------------- */


/* --------------- */
/*contact us  section */
/* --------------- */
#contact-us{
    background-color: #f8f8f8;
}


#contact-us form {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
}

#contact-us form input:not([type="submit"]),
#contact-us form textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 15px;
    border: 1px solid #ccc;
    color: #ccc;
}

#contact-us form textarea{
    resize: none;
    height: 100px;
}

#contact-us form input::placeholder,
#contact-us form textarea::placeholder
{
    color: #ccc;
    font-style: italic;
    text-transform: capitalize;
}


#contact-us form input[type="submit"]{
    padding: 10px 30px;
    color: #fff;
    background-color: #702a9b;
    border: 1px solid #5d2380;
    box-shadow:inset 0 -3px 0 0 #5d2380;
    text-transform: uppercase;
    cursor: pointer;
    transition:all .3s ease;
    margin-top: 10px;
}

#contact-us form input[type="submit"]:hover{
    color: #f5f5f5;
    box-shadow:inset 0 -3px 0 0 #401858;
    
}
/* --------------- */
/*End: testimonial section */
/* --------------- */


/* --------------- */
/* footer section */
/* --------------- */
footer {
    background-color: #444;
    padding: 8px 0;
}

footer .aw-logo{
    height: 43px;
    width: 43px;
    font-size: 21px; 
}

footer .footer-links{
    display: flex;
    flex-direction: row;
     
}

footer .footer-links li{
    margin-left: 20px;
}

footer .footer-links li a{
    display: flex;
    transition: opacity .3s ease;
     
}

footer .footer-links li a:hover{
    opacity: .5;
}

footer .footer-links li .icon{
    color: #fff;
}
/* --------------- */
/*End: footer section */
/* --------------- */
