//header
.logo{
    height: 3.25rem;
    margin-left: 2rem;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;

    @media only screen and (max-width: $db-smallest){
        order:1;
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2);
      }

    &__input{
        font-size: inherit;
        font-family: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        width: 90%;
        padding: .7rem 2rem;
        margin-right: -3rem;
        border-radius: 100px;
        transition: all .2s;

        &:focus{
            width: 100%;
            outline: none;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }
 

    &__button{
       
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus{
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

.user-nav{
    display: flex;
    align-items: center;
    align-self: stretch;


    & > *{
        cursor: pointer;
        padding: 0 2rem;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover{
        background-color: var(--color-grey-light-2);
    }

    &__icon-box{
        position: relative;
    }

    &__icon{
        width: 2.25rem;
        height: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification{
        width: 1.75rem;
        height: 1.75rem;
        background-color: var(--color-primary);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        color: #fff;
        font-size: .8rem;
        top:1.1rem;
        right: 1.4rem;
    }

    &__user{
        display: flex;
        align-items: center;
    }

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

//sidebar
 .side-nav{
   list-style: none;
   font-size: 1.4rem;
   margin-top: 3.5rem;
   
   @media only screen and (max-width: $db-medium) {
    display: flex !important;
    margin: 0 !important;
  }

    &__item{
        position: relative;
        &:not(:last-child){
            margin-bottom: .5rem;
            @media only screen and (max-width: $db-medium) {
                margin-bottom: 0 !important;
            }
        }

        @media only screen and (max-width: $db-medium) {
            flex: 1 !important;
        }

        &--active{
            background-color: var(--color-primary);
        }
        &::before{
            position: absolute;
            content: "";
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            top:0;
            left: 0;
            transform: scaleY(0);
            transition: transform .2s,
                        width .4s cubic-bezier(1,0,0,1) .2s,
                        background-color .1s;
                         
        }

        &:hover::before{
            width: 100%;
            transform: scaleY(1);
        }
    }

    &__link:link,
    &__link:visited{
        font-size: inherit;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 1.5rem 3rem;    
        position: relative;
        z-index: 10;

        @media only screen and (max-width: $db-medium) {
           justify-content: center;
           padding: 2rem;
        }

        @media only screen and (max-width: $db-small) {
            flex-direction: column;
            padding: 1.5rem .5rem;
          }

          

    }

    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        fill: currentColor;
        margin-right: 2rem;
        @media only screen and (max-width: $db-small) {
            margin-right: 0;
            margin-bottom: .5rem;
            width: 1.4rem;
            height: 1.4rem;
          }
    }
 }

// footer

.legal{
    font-size: 1.4rem;
    padding: 2.5rem;
    text-align: center;
    color: var(--color-grey-light-4);
    @media only screen and (max-width: $db-medium) {
        display: none;
      }
}




//hotel view
//gallery
.gallery{
    display: flex;
 
 

    &__img{
        display: block;
        width: 100%;
    }
}


//overview section
.overview{
    display: flex;
    align-items: center;
    background: #fff;
    height: 6.7rem;
    border-bottom: 1px solid var(--color-grey-light-3);

    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        fill: var( --color-primary);
    }

    &__rates{
        margin-right: auto;
        display: flex;
    }

    &__header{
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 2.25rem;
        padding: 1.5rem 3rem;

        @media only screen and (max-width: $db-small) {
            font-size: 1.25rem;
            padding: 1.25rem 2rem;
          }


       
    }


    &__location{
        display: flex;
        align-items: center;
        font-size: 1.2rem;

        &-icon{
            margin-right: .5rem;
            margin-top: -2px;
        }
    }


    &__rating{
        margin-left: 3rem;
        background-color: var(--color-primary);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: stretch;
        padding: 0 2.3rem;
        @media only screen and (max-width: $db-small) {
            padding: 0 1.3rem;
          }
        &-average{
            font-size: 2.25rem;
            font-weight: 300;
            margin-bottom: -3px;
            @media only screen and (max-width: $db-small) {
                font-size: 1.8rem;
            }
        }

        &-count{
            font-size: .9rem;
            text-transform: uppercase;
            @media only screen and (max-width: $db-small) {
                font-size: .5rem;
            }
        }
    }
}


//paragraph
.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}

.list__col2{
   list-style: none;
   margin: 3rem 0;
   padding: 3rem 0 2rem 0;
   border-top: var(--line);
   border-bottom: var(--line);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   &-item{
       flex: 0 0 50%;
       display: flex;
       align-items: center;
       margin-bottom: 1rem;

       &::before{
        content: "";
        display: inline-block;
        height: 1.7rem;
        width: 1.7rem;
        margin-right: .5rem;
        background-image: url('../img/SVG/chevron-small-right.svg');
        background-size: cover;

        //Newer browsers - masks
        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            background-color: var(--color-primary);
            -webkit-mask-image: url('../img/SVG/chevron-small-right.svg');
            -webkit-mask-size: cover;
            mask-image: url('../img/SVG/chevron-small-right.svg');
            mask-size: cover;
            background-image: none;
        }
       }
   }


}


.recommend{
    display: flex;
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    align-items: center;

    &__paragraph{
        margin-right: auto;
    }

    &__friends{
        display: flex;
        align-items: center;
    }

    &__photo{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        border: 3px solid #fff;
        box-sizing: content-box;
        &:not(:last-child){
            margin-right: -2rem;
        }


    }
}

.review{
    background-color: #fff;
    margin-bottom: 4rem;
    padding: 3rem; 
    box-shadow: var(--shadow-light);
    position: relative;
    overflow: hidden;
    @media only screen and (max-width: $db-medium) {
        padding: 2rem;
        margin-bottom: 3rem;
      }
    &::before{
        display: block;
        content: "\201C";
        font-size: 20rem;
        position: absolute;
        top: -2.5rem;
        left: -.8rem;
        z-index: 5;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        line-height: 1;
    }


    &__text{
        margin-bottom: 2rem;
        position: relative;
        z-index: 10;
    }

    &__user{
        display: flex;
        align-items: center;
      
    }

    &__photo{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__user-box{
        margin-right: auto;
        
    }

    &__rating{
        color: var(--color-primary);
        font-size: 2.5rem;
        font-weight: 300;
    }

    &__user-name{
        font-size: 1.1rem; 
        font-weight: 600;
        text-transform: uppercase;
    }

    &__user-date{
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }


}

.btn-inline,
.btn-inline:link,
.btn-inline:visited{
    font-size: inherit;
    display: inline-block;
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid currentColor;
    padding-bottom: .2rem;
    transition: all .2s;
    
    &:focus{
        outline: none;
        animation: pulse 1s infinite;
    }
}


.btn-inline:link,
.btn-inline:visited{
    padding-bottom: 0 !important;
}

.cta{
    background-color: #fff;
    padding: 4.5rem 0;
    text-align: center;
    @media only screen and (max-width: $db-medium) {
        padding: 2.5rem 0;
      }
    & h2{
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }

    &__btn{
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        border: none;
        border: 1px solid var(--color-primary-light);
        border-radius: 100px;
        color: #fff;
        background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
        overflow: hidden;
        position: relative;
        cursor: pointer;
       

        & > *{
            display: inline-block;
            height: 100%;
            width: 100%;
            transition: all .2s;
        }

        &--visible{
            padding: 2rem 6.5rem;
            
        }

        &--invisible{
            position: absolute;
            top: -100%;
            left: 0;
            padding: 2rem 0;
        }

        &:hover   {
            background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
        }

        &:hover &--visible {
            transform:translateY(100%) ;
        }

        &:hover &--invisible {
            top: 0;
        }
    }
  }


   

@keyframes pulse{
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}