.feature-box{
    background-color: rgba($color-white, .8);
    padding: 2.5rem;
    border-radius: 3px;
    font-size: 1.6rem;
    transition: transform .3s ease;

    &__icon{
        font-size: 6rem;
        display: inline-block;
        color: transparent;
        background: linear-gradient(to right, rgba($color-primary-light, .8), rgba($color-primary-dark, .8));
        background-clip: text;
        -webkit-background-clip: text;
    }

    &:hover,
    &:active{
        transform: translateY(-2rem);
    }
}

