@mixin clearFix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin position-center($property){
    position: $property;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}