/*
breakPoints:
phone
tab-port
tab-land
big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 55%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  line-height: 1.7;
  color: #777;
  padding: 30px;
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 7rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    animation: moveToRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-weight: 700;
    letter-spacing: 1.7rem;
    font-size: 2rem;
    animation: moveToLeft 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  transition: all .3s;
  letter-spacing: 2px; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: scale(1.03) skewX(15deg) skewY(3deg);
    text-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-of-type) {
    margin-bottom: 3rem; }

@keyframes moveToRight {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  80% {
    transform: translateX(15px); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveToLeft {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  80% {
    transform: translateX(-15px); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveToUp {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.u-text-center {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-bottom: 3rem !important; } }

.u-margin-top-small {
  margin-bottom: 1.5rem !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  @media only screen and (max-width: 75em) {
    .row {
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }

[class^="col"] {
  float: left; }
  [class^="col"]:not(:last-child) {
    margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      [class^="col"]:not(:last-child) {
        margin-right: 0 !important;
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    [class^="col"] {
      width: 100% !important; } }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 2*6rem) / 3); }

.col-2-of-3 {
  width: calc( 6rem + 2*(100% - 2*6rem) / 3); }

.col-1-of-4 {
  width: calc((100% - 3*6rem) / 4); }

.col-2-of-4 {
  width: calc( 6rem + 2*(100% - 3*6rem) / 4); }

.col-3-of-4 {
  width: calc( 2*6rem + 3*(100% - 3*6rem) / 4); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media only screen and (min-resolution: 192dpi) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg); } }
  @media only screen and (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo-box img {
    height: 4rem;
    width: auto; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__icon {
  position: relative;
  top: 2.4rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: transform .4s ease; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(130deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-130deg); }

.navigation__background {
  opacity: .96;
  width: 6rem;
  height: 6rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: transform .8s ease-out; }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(90); }

.navigation__nav {
  position: fixed;
  z-index: 1500;
  top: 0;
  right: 0;
  height: 100vh;
  opacity: 0;
  width: 0;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s; }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }

.navigation__item {
  margin: 1rem 0;
  text-align: center; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  transition: all .4s; }

.navigation__link-num {
  display: inline-block;
  margin-right: 1.5rem; }

.navigation__link:hover {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 6rem 0; } }
  .footer__logo {
    height: 15rem;
    width: auto; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100% !important;
        text-align: center; } }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s; }
  .footer__link:hover {
    transform: scale(1.5) rotate(5deg);
    color: #28b485;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #333; }
  .footer__copyright {
    width: 80%;
    float: right;
    color: #fff;
    border-top: 1px solid #777;
    padding-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        float: none;
        width: 100%; } }

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3500;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out; }
  .lightbox:target {
    visibility: visible;
    opacity: 1; }
  .lightbox__content {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    z-index: 3900;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0);
    transition: all .6s ease .3s; }
    @media only screen and (max-width: 56.25em) {
      .lightbox__content {
        width: 90%; } }
  .lightbox:target .lightbox__content {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .lightbox__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem;
    hyphens: auto; }
  .lightbox__closebtn:link, .lightbox__closebtn:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s;
    line-height: 1; }
    @media only screen and (max-width: 56.25em) {
      .lightbox__closebtn:link, .lightbox__closebtn:visited {
        top: 1.5rem;
        right: 1.5rem; } }
  .lightbox__closebtn:hover, .lightbox__closebtn:active {
    color: #55c57a; }
  .lightbox__content-text {
    column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 3rem;
    font-size: 1.3rem; }
    @media only screen and (max-width: 56.25em) {
      .lightbox__content-text {
        column-rule: none;
        column-count: 1;
        column-gap: 0;
        font-size: 1.4rem; } }
  .lightbox__left {
    width: 33.333333%;
    display: table-cell;
    vertical-align: middle; }
    @media only screen and (max-width: 56.25em) {
      .lightbox__left {
        display: none; } }
  .lightbox__img {
    width: 100%;
    display: block; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s linear;
  position: relative;
  border: none;
  cursor: pointer; }

.btn::after, .btn:link::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  opacity: .7; }

.btn:hover, .btn:focus {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  outline: none; }
  .btn:hover::after, .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: moveToUp .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  padding: .6rem;
  border-bottom: 0.1rem solid #55c57a;
  color: #55c57a;
  text-decoration: none;
  transition: all .3s ease;
  display: inline-block; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.form .form__group:not(:last-of-type) {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .form .form__group:not(:last-of-type) {
      margin-bottom: 1.2rem; } }

.form__input {
  border: none;
  border-radius: 3px;
  display: block;
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1.5rem 2rem;
  width: 90%;
  border-bottom: 3px solid transparent;
  transition: all .4s ease; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  color: inherit;
  font-family: inherit;
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 700;
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
  visibility: visible;
  opacity: 1;
  transition: transform .4s ease; }

.form__input:placeholder-shown + .form__label {
  visibility: 0;
  opacity: 0;
  transform: translateY(-3rem); }

.form__radio-group {
  display: inline-block;
  width: 40%; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      display: block;
      width: 70%; }
      .form__radio-group:not(:last-child) {
        margin-bottom: 2rem; } }
  .form__radio-group:not(:last-child) {
    margin-right: 3rem; }

.form__radio-input {
  display: none; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__radio-label {
  font-size: 1.6rem;
  position: relative;
  padding-left: 4.2rem;
  text-transform: capitalize;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-label {
      width: 100%; } }

.form__radio-button {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -3px; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: #55c57a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }

.composition {
  position: relative; }
  .composition__photo {
    width: 52%;
    position: absolute;
    box-shadow: 0.5rem 1rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all .4s;
    outline-offset: 1.5rem;
    border-radius: .2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        width: 33.33333%;
        position: relative;
        float: left;
        box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.15); } }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          left: 3rem;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          z-index: 50;
          transform: scale(1.2); } }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: -3rem;
          transform: scale(1.2); } }
    .composition__photo:hover {
      z-index: 20;
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0.5rem 2.1rem 4rem rgba(0, 0, 0, 0.5);
      outline: 0.7rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9);
    filter: blur(0.5rem);
    -webkit-filter: blur(0.5rem); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  border-radius: 3px;
  font-size: 1.6rem;
  transition: transform .3s ease; }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    color: transparent;
    background: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    background-clip: text;
    -webkit-background-clip: text; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0 !important; } }
  .feature-box:hover, .feature-box:active {
    transform: translateY(-2rem); }

.card {
  position: relative;
  height: 53rem;
  perspective: 150rem;
  -webkit-perspective: 150rem; }
  .card__side {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all .8s ease;
    border-radius: 3px;
    overflow: hidden; }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #fbb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card_picture {
    width: 100%;
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card_picture--1 {
      background-image: linear-gradient(to right bottom, #fbb900, #ff7730), url("../img/nat-5.jpg"); }
    .card_picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-7.jpg"); }
    .card_picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
  .card__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.8rem;
    color: #fff;
    width: 70%;
    text-align: right; }
  .card__heading--span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading--span--1 {
      background-image: linear-gradient(to right bottom, rgba(251, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading--span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading--span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      width: 80%;
      margin: 0 auto; }
    .card__details li {
      text-align: center;
      font-size: 1.6rem;
      padding: 1rem; }
      .card__details li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff; }
  .card__price-only {
    text-transform: uppercase;
    font-size: 1.6rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      height: auto;
      background-color: #fff; }
      .card__side {
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card:hover .card__side--back {
        transform: rotateY(0); }
      .card__heading {
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2.8rem;
        color: #fff;
        width: 70%;
        text-align: right; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(0);
        padding: 6rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 2rem !important; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .15;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .bg-video__source {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.story {
  background: rgba(255, 255, 255, 0.6);
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  transform: skew(-7deg);
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15); }
  .story::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 75em) {
    .story {
      width: 100%;
      padding: 3rem;
      padding-left: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skew(0); } }
  .story__figure {
    float: left;
    width: 15rem;
    height: 15rem;
    shape-outside: circle(50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skew(7deg) translateX(-3rem);
    position: relative;
    overflow: hidden;
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .story__figure {
        transform: skew(0) translateX(-3rem); } }
    .story__figure-image {
      height: 100%;
      transform: translateX(-4rem) scale(1.4);
      transition: all .5s; }
    .story__figure-author {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 130%);
      color: #fff;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      transition: all .5s;
      backface-visibility: hidden; }
  .story:hover .story__figure-image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px); }
  .story:hover .story__figure-author {
    transform: translate(-50%, -50%); }
  .story__text {
    transform: skew(7deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skew(0); } }

.about-section {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media only screen and (max-width: 56.25em) {
    .about-section {
      padding: 20rem 0; } }

.feature-section {
  padding: 20rem 0;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .feature-section {
      padding: 10rem 0; } }
  .feature-section > * {
    transform: skewY(7deg); }

.tour-section {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -20vh; }
  @media only screen and (max-width: 56.25em) {
    .tour-section {
      padding: 20rem 0 10rem 0;
      margin-top: -15vh; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }
  .section-book .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 56.25em) {
      .section-book .book {
        background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg); } }
    .section-book .book__form {
      width: 50%;
      padding: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .section-book .book__form {
          width: 100%; } }
